.section-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-bottom: 56px;
  font-size: 48px;

  & img {
    opacity: .5;
  }
}
