@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Secular+One&display=swap");

:root {
  --background: oklch(14.5% 0 0);
  --light: #ffff;
  --dark: #272727;
  --grey-100: #f1f1ef;
  --grey-200: #dfdfdf;
  --grey-300: #d3d3d3;
  --grey-400: #a2a09e;
  --grey-500: #7c7c7c;
  --color-zinc-50: oklch(98.5% 0 0);
  --color-zinc-600: oklch(44.2% 0.017 285.786);
  --color-zinc-700: oklch(37% 0.013 285.805);
  --color-zinc-800: oklch(27.4% 0.006 286.033);
  --color-neutral-400: oklch(70.8% 0 0);
  --color-neutral-900: oklch(20.5% 0 0);
  --muted-foreground: oklch(70.8% 0 0);
  --color-sky-500: oklch(68.5% 0.169 237.323);
  --red-100: #b73535;
  --color-red-500: oklch(63.7% 0.237 25.331);
  --color-purple-500: oklch(62.7% 0.265 303.9);
  --color-purple-600: oklch(55.8% 0.288 302.321);
  --color-lime-500: oklch(76.8% 0.233 130.85);
  --ring: oklch(55.6% 0 0);
  --swiper-theme-color: var(--light);
  --swiper-navigation-size: 30px;
  --font-family: "Montserrat", Arial, Helvetica, sans-serif;
  --font-xsm: 0.8rem;
  --font-sm: 0.85rem;
  --font-md: 1.2rem;
  --font-lg: 1.8rem;
  --font-xlg: 2rem;
  --gap-sm: 0.25rem;
  --gap-md: 1.2rem;
  --border-radius: 0.15rem;
  --border-radius-md: 1rem;
  --dvw-100: 100dvw;
  --dvh-100: 100dvh;
  --spacing: 0.25rem;
}
