.navbar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	padding: 35px 0;
	width: 100%;
}

.navbar .navbar-brand {
	color: var(--text-color-main);
}

.nav {
	list-style: none;
	display: flex;
	flex-direction: row;
}

.nav .nav-item {
	text-decoration: none;
	color: var(--text-color-main);
	line-height: 40px;
	height: 40px;
	font-size: var(--font-size-md);
	background-color: rgba(255, 255, 255, 0);
	transition: all 0.2s ease-in-out;
}

#menu {
	cursor: pointer;
}

#menu.active span {
	border-top: 0px;
}

#menu.active span::before {
	position: relative;
	margin-top: -7px;
	top: 7px;
	transform: rotate(135deg);
}

#menu.active span::after {
	transform: rotate(-135deg);
}

.hamburger {
	position: relative;
	border: none;
	background-color: transparent;
	padding: 0;
	left: 0px;
}

.hamburger span {
	position: relative;
	display: block;
	border-top: 2px solid #fff;
	width: 20px;
	transition: all .2 s ease-in-out;
}

.hamburger span::before {
	content: '';
	margin-top: 5px;
	display: block;
	height: 2px;
	width: 20px;
	background-color: #fff;
	bottom: 0px;
	transition: all .2s ease-in-out;
}

.hamburger span::after {
	content: '';
	margin-top: 5px;
	display: block;
	height: 2px;
	width: 20px;
	background-color: #fff;
	bottom: 0px;
	transition: all .2s ease-in-out;
}

.swiper {
	height: 300px;
}

.swiper-button-next,
.swiper-button-prev {
	color: var(--text-color-main) !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	font-size: 100%;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 0.7rem;
	cursor: default;
}

.card .card-header img {
	width: 100%;
	object-fit: contain;
	height: 70px;
}

.card .card-title {
	font-size: var(--font-size-md-lg);
	font-weight: 700;
}

.card .card-content {
	max-width: 200px;
	margin: 0 auto;
}

.profile-picture {
	border: 0.4em solid var(--text-color-main);
	/* 	border-radius: 50%; */
	object-fit: cover;
}

#header_content {
	position: relative;
	color: var(--text-color-main);
	margin-top: -200px;
}

header img {
	width: 100%;
	object-fit: cover;
}

.linear-gradient {
	position: relative;
	display: inline-block;
	width: 100%;
}

.linear-gradient img {
	display: block;
}

.linear-gradient::after {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.3) 100%);
}

#header_content div.flex {
	row-gap: 1rem;
}

#header_body {
	width: 100% !important;
	padding-top: calc(40px + 1.2rem);
	padding-bottom: 40px;
}

/* Media querys */
@media (min-width: 280px) {
	#hamburger {
		display: block;
		flex-grow: 2;
	}

	header img {
		height: 400px;
	}

	#header_content {
		margin-top: -390px;
		text-align: center;
		max-width: 400px;
	}

	#header_wrapper {
		flex-direction: column;
	}

	#nav_wrapper {
		padding: 0px 10px;
	}

	.navbar {
		flex-direction: row-reverse;
	}

	.navbar div.container-fluid {
		position: absolute;
		left: 0px;
		top: 65px;
		z-index: 3;
	}

	.navbar .container .row.flex {
		flex-direction: row-reverse;
		align-items: center;
		width: 100%;
	}

	.navbar-collapse {
		display: flex;
		flex-direction: column;
		visibility: hidden;
		position: relative;
		justify-content: flex-start !important;
		width: 100%;
		height: 0px;
		overflow-y: hidden;
		z-index: 3;
		background-color: var(--bg);
	}

	.navbar-collapse.active {
		visibility: visible;
		height: 130px;
		transition: all .2s ease-in-out;
	}

	.navbar-collapse ul.nav {
		flex-direction: column;
		background-color: var(--bg-2);
	}

	.nav {
		padding: 0px 10px;
		overflow-x: hidden;
	}

	.nav .nav-item {
		padding: 0;
	}

	.nav .nav-item:hover {
		background-color: transparent;
		transform: translateX(5px);

		-moz-transform: translateX(5px);
		-o-transform: translateX(5px);
		-webkit-transform: translateX(5px);
	}

	.circle {
		border-radius: 50%;
	}

	.typing-animation {
		border-right: 0px;
		text-align: center;
		width: auto;
		white-space: initial;
		animation: none;
	}
}

@media (min-width: 375px) {
	#header_content {
		margin-top: -380px;
	}

	#header_body {
		margin-top: 0px;
	}
}

@media (min-width: 768px) {
	.hamburger {
		display: none;
	}

	header img {
		height: 380px;
	}

	#header_content {
		margin-top: -200px;
		text-align: justify;
		max-width: none;
		width: 100%;
	}

	#header_body {
		margin-top: -40px;
	}

	#header_wrapper {
		flex-direction: row;
	}

	#header_wrapper div {
		row-gap: 0.6rem;
		padding-left: 1.2rem;
	}

	.navbar {
		flex-direction: row;
	}

	.navbar div.container-fluid {
		position: relative;
		left: 0px;
		top: 0px;
		z-index: 3;
	}

	.navbar.container .row.flex {
		flex-direction: row;
		align-items: center;
		width: 100%;
	}

	.navbar-collapse {
		position: relative;
		top: 0px;
		display: flex;
		visibility: visible;
		height: auto;
		justify-content: flex-end !important;
		background-color: transparent;
		flex-direction: row;
	}

	.navbar-collapse.active {
		visibility: visible;
		height: auto;
	}

	.navbar-collapse ul.nav {
		flex-direction: row;
		background-color: transparent;
		align-items: center;
	}

	.nav {
		padding: 0px;
	}

	.nav .nav-item {
		padding: 0px 15px;
	}

	.nav .nav-item:hover {
		background-color: rgba(255, 255, 255, 0.2);
		transform: translatey(-5px);

		-moz-transform: translateY(-5px);
		-o-transform: translateY(-5px);
		-webkit-transform: translateY(-5px);
	}

	.circle {
		border-radius: 0;
	}

	.typing-animation {
		text-align: left;
	}
}

@media (min-width: 992px) {
	.typing-animation {
		border-right: 3px solid rgba(255, 255, 255, 0.75);
		text-align: left;
		width: fit-content;
		white-space: nowrap;
		overflow: hidden;
		animation: blinkCursor 500ms steps(40) infinite normal, typing 4s steps(40) 1s normal both;
	}
}

@keyframes typing {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

@keyframes blinkCursor {
	from {
		border-right-color: rgba(255, 255, 255, 0.75);
	}

	to {
		border-right-color: transparent;
	}
}