.swiper {
	height: 300px;
}

.swiper-button-next,
.swiper-button-prev {
	color: var(--text-color-main) !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	font-size: 100%;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 0.7rem;
	cursor: default;
}

.card .card-header img {
	width: 100%;
	object-fit: contain;
	height: 70px;
}

.card .card-title {
	font-size: var(--font-size-md-lg);
	font-weight: 700;
}

.card .card-content {
	max-width: 200px;
	margin: 0 auto;
}

.wrapper {
	width: 100%;
	margin-top: -40px;
}

.navbar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	height: 100px;
}

.navbar .navbar-brand {
	color: var(--text-color-main);
}

.navbar-collapse {
	flex-grow: 2;
}

.nav {
	list-style: none;
	display: flex;
	flex-direction: row;
}

.nav .nav-item {
	text-decoration: none;
	color: var(--text-color-main);
	padding: 0px 15px;
	line-height: 40px;
	height: 40px;
	font-size: var(--font-size-md);
	background-color: rgba(255, 255, 255, 0);
	transition: all 0.2s ease-in-out;
}

.nav .nav-item:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.text-align-center {
	text-align: center !important;
}

.profile-picture {
	border: 0.4em solid var(--text-color-main);
	/* 	border-radius: 50%; */
	object-fit: contain;
}

#header_content {
	color: var(--text-color-main);
	margin: 0 auto;
	margin-top: -200px;
	z-index: 1;
}

header img {
	width: 100%;
	height: 350px;
	object-fit: cover;
}

.linear-gradient {
	position: relative;
	display: inline-block;
	width: 100%;
}

.linear-gradient img {
	display: block;
}

.linear-gradient::after {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.3) 100%);
}

#header_content div.flex {
	row-gap: 1rem;
}

/* Menu Hamburger lines */
.hamburger-lines {
	display: block;
	height: 26px;
	width: 32px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 3;
}

.hamburger-lines .line {
	display: block;
	height: 4px;
	width: 100%;
	border-radius: 10px;
	background: var(--text-color-main);
}

/* Menu Hamburger lines */


/* Media querys */
@media (min-width: 280px) {
	#hamburger {
		display: block;
		flex-grow: 2;
	}

	#header_content {
		margin-top: -335px;
		text-align: center;
	}

	#header_wrapper {
		flex-direction: column;
	}

	.navbar {
		flex-direction: row-reverse;
	}

	.navbar.container .row.flex {
		flex-direction: row-reverse;
		align-items: center;
		width: 100%;
	}

	.navbar-collapse {
		display: none;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: 2;
		justify-content: flex-start !important;
		background-color: rgba(0, 0, 0, 0.7);
	}

	.navbar-collapse ul.nav {
		flex-direction: column;
		background-color: var(--bg-2);
	}

	.checkbox {
		position: absolute;
		top: 35px;
		left: 10px;
		display: block;
		height: 32px;
		width: 32px;
		z-index: 5;
		opacity: 0;
		cursor: pointer;
		margin: 0px;
	}

	#toggle:checked~.navbar-collapse {
		display: flex;
	}

	#toggle:checked~.navbar-collapse .nav {
		-moz-transform: translateX(0px);
		-ms-transform: translateX(0px);
		-o-transform: translateX(0px);
		-webkit-transform: translateX(0px);

		transform: translateX(0px);
	}

	#toggle:checked,
	#toggle:checked~#hamburger .hamburger-lines,
	#toggle:checked~#hamburger .hamburger-lines .line1,
	#toggle:checked~#hamburger .hamburger-lines .line2,
	#toggle:checked~#hamburger .hamburger-lines .line3 {
		position: fixed;
	}

	#toggle:checked,
	#toggle:checked~#hamburger .hamburger-lines {
		-moz-transform: translateX(calc(113.23px + 0.5rem));
		-ms-transform: translateX(calc(113.23px + 0.5rem));
		-o-transform: translateX(calc(113.23px + 0.5rem));
		-webkit-transform: translateX(calc(113.23px + 0.5rem));

		transform: translateX(calc(113.23px + 0.5rem));
	}

	#toggle:checked~#hamburger .hamburger-lines .line1 {
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);

		transform: rotate(45deg);
	}

	#toggle:checked~#hamburger .hamburger-lines .line2 {
		-moz-transform: scaleY(0);
		-ms-transform: scaleY(0);
		-o-transform: scaleY(0);
		-webkit-transform: scaleY(0);

		transform: scaleY(0);
	}

	#toggle:checked~#hamburger .hamburger-lines .line3 {
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);

		transform: rotate(-45deg);
	}

	.circle {
		border-radius: 50%;
	}
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
	#hamburger {
		display: none;
	}

	#header_content {
		margin-top: -200px;
		text-align: justify;
	}

	#header_wrapper {
		flex-direction: row;
	}

	#header_wrapper div {
		row-gap: 0.6rem;
		padding-left: 1.2rem;
	}

	.navbar {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		height: 100px;
	}

	.navbar.container .row.flex {
		flex-direction: row;
		align-items: center;
		width: 100%;
	}

	.navbar-collapse {
		display: flex;
		position: relative;
		justify-content: flex-end !important;
		background-color: transparent;
	}

	.navbar-collapse ul.nav {
		flex-direction: row;
		background-color: transparent;
		align-items: center;
	}

	.circle {
		border-radius: 0;
	}
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}