/* Váriaveis gerais */
:root {
	--bg: #000;
	--bg-2: #111;
	--text-color-main: #F2F2F2;
	--link-color-second: #B8FFAB;
	--font-size-lg: 2rem;
	--font-size-md: 0.875rem;
	--font-size-md-lg: 1.2rem;
	--font-size-sm: 2.5rem;
}

.no-script {
	display: none;
}

/* Displays */
/* flex */
.flex {
	display: flex;
}

.justify-content-start {
	justify-content: flex-star;
}

.justify-content-center {
	justify-content: center;
}


.justify-content-end {
	justify-content: flex-end;
}

.align-items-center {
	align-items: center !important;
}

.flex-direction-column {
	flex-direction: column;
}

.flex-direction-row {
	flex-direction: row;
}

/* Fim flex */

/* Grid */
.grid {
	display: grid;
}

.grid-2fr {
	grid-template-columns: repeat(2, 1fr);
}

/* Fim Grid */

/* Block */
.block {
	display: block !important;
}

/* Fim Block */

/* None */
.none {
	display: none;
}

/* Fim None */
/* Fim Displays */

/* Font */
.font-size-lg {
	font-size: var(--font-size-lg);
}

.font-size-md {
	font-size: var(--font-size-md);
}

.font-size-md-lg {
	font-size: var(--font-size-md-lg);
}

.font-size-sm {
	font-size: var(--font-size-sm);
}

.bold {
	font-weight: 700;
}

.bolder {
	font-weight: 800;
}

/* Fim Font */

/* Text */
.text-color-main {
	color: var(--text-color-main);
}

.text-align-center {
	text-align: center !important;
}

/* Fim Text */

/* bg-colors */
.bg {
	background-color: var(--bg);
}

.bg-2 {
	background-color: var(--bg-2);
}

/* Fim bg-colors */

/* Containers */
.container-fluid {
	width: 100% !important;
}

.container {
	margin: 0 auto;
}

/* Fim Containers */

/* Lazy Loading */
.pop-in.lazy {
	opacity: 1;
}

.lazy {
	opacity: 0;
	transition: all .2s ease-in-out;
}

.img-thumbnail {
	border: 3px solid;
	border-color: var(--text-color-main);
	transition: all .2s ease-in-out;
	object-fit: cover !important;
}

.img-thumbnail:hover {
	transform: scale(1.05);
	cursor: pointer;
}

/* Fim Lazy Loading */

/* Media Querys */
@media (min-width: 280px) {
	.container .row {
		margin-left: 10px !important;
		margin-right: 10px !important;
	}
}

@media (min-width: 576px) {
	.container {
		max-width: 560px !important;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 700px !important;
	}

	.container .row {
		margin-left: 10px !important;
		margin-right: 10px !important;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 900px !important;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1100px !important;
	}
}